body {
  background: linear-gradient(to bottom, #FF6700 0%, #0504AA 100%);
}

main {
  margin: auto;
  width: 700px;
  padding: 40px;
  background-color: white;
  /* border: 10px yellow dashed; */
  box-shadow: 0 4px 8px 0 gray, 0 6px 20px gray;

}


header {
  /* background-color: #FF6700; */
  margin-bottom: 25px;
  width: 100%;
  height: 100px;
}

.survey {
  color: #FF6700;
}

.says {
  color: #0504AA;
}

header h2 {
  font-family: 'BioRhyme', serif;
  font-size: 50px;
  border-radius: 75%;
  background: white;
  width: 375px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  /* margin-top: 10px; */
  text-align: center;
  text-shadow: 2px 2px gray;
  box-shadow: 6px 6px lightgrey;
}



header li {
  float: right;
  margin-right: 25px;
  margin-top: -15px;
  display: inline;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
}

a{
  color: white;
}

a:visited {
  color: lightblue;
}


footer li {
  float: left;
  margin-right: 25px;
}


#game-info {
margin-bottom: 25px;
display: flex;
justify-content: space-between;

}

#timer-box {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

#incorrect-answer-box {
  width: 150px;
  display: inline-block;
}

#scoreboard-box{
  width: 150px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

#wrong-answer{
  color: red;
  font-size: 50px;
  text-align: center;
}


#play-now {
width: 300px;
margin: auto;
}

#play-now-button {
  font-size: 50px;
  font-family: 'BioRhyme', serif;
}

#survey-question {
  width: 500px;
  height: 75px;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  border: 1px solid black;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding: 10px;
}

.answer-box {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;

}

#survey-answers{
  margin-top: 25px;
  margin-bottom: 25px;
}

#survey-answers>div {
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;

}


#answer-submit {
  width: 700px;
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
}

#answerform {
  font-family: 'Poppins', sans-serif;
}

footer {
  width: 100%;
  height: 100px;
  height: 150px;
}


footer h2 {
  font-family: 'BioRhyme', serif;
  font-size: 25px;
  border-radius: 75%;
  background: white;
  width: 187px;;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px gray;
  box-shadow: 6px 6px lightgrey;
}

footer li {
  float: right;
  margin-right: 25px;
  margin-top: -15px;
  display: inline;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
}

footer p {
  color: white;
  margin-top: 20px;
}







