body {
  color: whitesmoke;
  text-align: center;
  margin:auto;
}

main {
  height: 870px;
}


table {
  
  background-color: whitesmoke;
  color: black;
  margin: auto;
  /* display: block; */
  width: 205px;
}

tr {
  border: 1px solid black;
  width: 203px;
  margin: auto;
  /* display: block; */
}

td {
  border: 1px solid black;
  color: blue;
  margin: auto;
  padding: 10px;
  /* display: block; */
  text-align: center;
}

h1 {
  font-family: 'BioRhyme', serif;
  font-size: 40px;

}

th {
  /* border-right: 1px; */
  color: black;
}

header {
  height: 100px;
  background-color: lightskyblue;
  margin-bottom: 25px;
}
  
header h2{
  float: left;
}
  
.survey {
    color: #FF6700;
}
.says {
    color: #0504AA;
}
  
header h2 {
    font-family: 'BioRhyme', serif;
    font-size: 50px;
    border-radius: 75%;
    background: white;
    width: 375px;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
    text-shadow: 2px 2px gray;
    box-shadow: 6px 6px lightgrey;
}

header li {
    display: inline;
    margin-right: 25px;
    float: right;
    margin-top: 75px;
    display: inline;
    font-family: 'BioRhyme', serif;
    text-transform: uppercase;
}


footer {
  height: 110px;
  background-color: lightblue;
}

footer li {
  display: inline;
  float: right;
  margin-right: 25px;
  margin-top: 10px;
  float: right;
  display: inline;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
}
footer h2{
  float: left;
  font-family: 'BioRhyme', serif;
  font-size: 25px;
  border-radius: 75%;
  background: white;
  width: 187px;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px gray;
  box-shadow: 6px 6px lightgrey;
}

#copyright {
  color: black;
  margin-top: 90px;
  float: left;
  margin-left: -200px;
}