/* header  {
}


body {
  background-color: navy;
  color:white;
  text-align: center;
  margin:auto;
  
}

section {
  width: 600px;
  height: 200px;
  margin: auto;
  float: center;
  float: top;

  /* border: 5px solid red; */
}

li a {
  /* padding: 3px;
  width: 100%;
  /* color: #990000; */
  /* float:20px; */
  /* height:50px; */
  /* display: inline; */
  
} */

.container1 {
  float: left;;
  height:300px;
  text-align: center;
}

.container2 {
  width: 300px;
  color: #990000;
}

  
img {
  width: 500px;
  float: right;
}
h3 {
  font-weight: 100;

}

P {
  float: center;
  margin-right: 3px;
  padding: left;
}
h2 {
  float: bottom;
  margin: 10px;
  width:100%;
}
div.card {
  padding-inline: 10px;
  padding: 10px;
  padding: left;
}
div {
  background: rgba(0,0,0,0);  
  float: right;
  border: 1px solid black;
  padding: top;
  width: 40%
  px;
  
}
ul {
  float: top;
  margin: 25px;

}

footer li {
  float: top;
  margin-right: 25px;
  margin-top: 15px;
  display: inline;
  font-family: 'BioRhyme', serif;
  text-transform: uppercase;
  float: top;
} */

